# https://editorconfig.org/
#
# SPDX-FileCopyrightText: 2022 - 2023  StorPool <support@storpool.com>
# SPDX-License-Identifier: Apache-2.0

root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.json]
indent_style = space
indent_size = 4

[*.md]
indent_style = space
indent_size = 2

[*.py]
indent_style = space
indent_size = 4

[{GNUmakefile,sp-image-to-volume,sp-openstack}]
indent_style = tab
tab_size = 8

[tox.ini]
indent_style = space
indent_size = 2
