Source: storpool-openstack-integration
Section: text
Priority: optional
Maintainer: Peter Pentchev <openstack-dev@storpool.com>
Build-Depends: debhelper-compat (= 11), markdown
Standards-Version: 4.1.5
Homepage: https://github.com/storpool/storpool-openstack-integration
Vcs-Git: https://github.com/storpool/storpool-openstack-integration.git -b bionic
Vcs-Browser: https://github.com/storpool/storpool-openstack-integration/tree/bionic
Rules-Requires-Root: no

Package: storpool-openstack-integration
Architecture: all
Depends: ${misc:Depends}, ${perl:Depends}, python:any
Recommends: txn-install
Multi-Arch: foreign
Description: toolset for StorPool-backed OpenStack storage
 These are some tools necessary to set up an OpenStack cluster that uses
 a StorPool distributed storage cluster as a backend for the Cinder volumes
 and the Nova instance disks.
